<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_state</key>
	<false/>
	<key>CPU_processes</key>
	<integer>5</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_updateInterval</key>
	<integer>3</integer>
	<key>CPU_updateTopInterval</key>
	<integer>3</integer>
	<key>Disk_processes</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>Disk_updateInterval</key>
	<integer>30</integer>
	<key>GPU_updateInterval</key>
	<integer>3</integer>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{894, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va/wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAANwBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABwAAAAEB
	AABkcnVjaHR4AAkAAAABAQAALmRvdGZpbGVzAAAABwAAAAEBAABiYWNrdXBzAAUAAAAB
	AQAAc3RhdHMAAAAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABUAAAACAAAAAQDAACeOAAA
	AAAAAAgAAAAEAwAAuw0wAwAAAAAIAAAABAMAAMdZ2gUAAAAACAAAAAQDAAAdWtoFAAAA
	AAgAAAAEAwAAHlraBQAAAAAUAAAAAQYAAIAAAACQAAAAoAAAALAAAADAAAAACAAAAAAE
	AABBx5e2GpCUXBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAUMEZcwAAAAgAAAAABAAAQcf/mYiAAAAkAAAAAQEA
	ADk5MEM0RjE5LTNEQzgtNDI3OC1BMjRBLTcxQjU3RjgyOTk2QRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAE
	EAAAZAAAAAAAAAAFEAAA0AAAAAAAAAAQEAAA/AAAAAAAAABAEAAA7AAAAAAAAAACIAAA
	0AEAAAAAAAAFIAAAQAEAAAAAAAAQIAAAUAEAAAAAAAARIAAAhAEAAAAAAAASIAAAZAEA
	AAAAAAATIAAAdAEAAAAAAAAgIAAAsAEAAAAAAAAwIAAAHAEAAAAAAAABwAAAJAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAANAEAAAAAAAAB0AAAHAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>415</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>462</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>368</real>
	<key>NSStatusItem Preferred Position Sensors_sensors</key>
	<real>533</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>351</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>513 450 894 448 0 0 1920 1049 </string>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>739 388 728 480 0 0 1920 1050 </string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>2</integer>
	<key>Network_speed_icon</key>
	<string>dots</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_valueAlignment</key>
	<string>center</string>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_processes</key>
	<integer>5</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_updateInterval</key>
	<integer>3</integer>
	<key>RAM_updateTopInterval</key>
	<integer>3</integer>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_fanControl</key>
	<true/>
	<key>Sensors_fanValue</key>
	<string>rpm</string>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_popup_keyboardShortcut</key>
	<array/>
	<key>Sensors_sensors_monospacedFont</key>
	<true/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_updateInterval</key>
	<integer>3</integer>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>6800</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>6800</integer>
	<key>pause</key>
	<false/>
	<key>remote_monitoring</key>
	<true/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Average System Total</key>
	<true/>
	<key>sensor_CPU Power</key>
	<false/>
	<key>sensor_PCI Power</key>
	<false/>
	<key>sensor_PDTR</key>
	<false/>
	<key>sensor_PPBR</key>
	<false/>
	<key>sensor_PSTR</key>
	<false/>
	<key>sensor_RAM Power</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_Tp01_popup</key>
	<false/>
	<key>sensor_Tp05_popup</key>
	<false/>
	<key>sensor_Tp09_popup</key>
	<false/>
	<key>sensor_Tp0D_popup</key>
	<false/>
	<key>sensor_Tp0X_popup</key>
	<false/>
	<key>sensor_Tp0b_popup</key>
	<false/>
	<key>sensor_Tp0f_popup</key>
	<false/>
	<key>sensor_Tp0j_popup</key>
	<false/>
	<key>sensor_Tp1h_popup</key>
	<false/>
	<key>sensor_Tp1l_popup</key>
	<false/>
	<key>sensor_Tp1p_popup</key>
	<false/>
	<key>sensor_Tp1t_popup</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1784511028</integer>
	<key>updater_install_ts</key>
	<integer>1784203124</integer>
	<key>version</key>
	<string>3.0.8</string>
</dict>
</plist>
