[user]
        name = #{GIT_AUTHORNAME}
        email = #{GIT_AUTHOREMAIL}
        signingkey = ~/.ssh/id_ed25519
[credential]
        helper = osxkeychain
[commit]
	gpgSign = true
[gpg]
	format = ssh
